#01 **Data Types and Data Structures**
#**Introduction**
This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

#**Basic Variable Types**
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (

In [35]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [36]:
my_string1 = 'Mi nombre es'
my_string2 = "Santiago"
print(my_string1 + ' ' + my_string2)

Mi nombre es Santiago

 An integer is a round number with no values after the decimal point.

In [37]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [38]:
my_int = 19022000
print(my_int)
print(type(my_int))

19022000
<class 'int'>


The built-in function int() can convert a string into an integer.

In [39]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [40]:
my_string = "2200"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [41]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [42]:
y_float = 1.333
print(type(my_float))
my_int = 12
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [43]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [44]:
my_string = "90000.99"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [45]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [46]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [47]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [48]:
print("Addition ", 112+1)
print("Subtraction ", 8-2)
print("Multiplication ", 2*6)
print("Division", 20/2)
print("exponent", 2**6)

Addition  113
Subtraction  6
Multiplication  12
Division 10.0
exponent 64

#**Basic Math Operations**
The basic math operators in python are demonstrated below:

In [49]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [50]:
print(1/6)
print(1.0/6)

0.16666666666666666
0.16666666666666666

#**Data Collections**
##**List**
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [51]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [52]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list)

['Santiago', 'Acosta', 5, 6, 8, 0]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [53]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)
print(my_list[0])
print(my_list[len(my_list) - 1])

['Quant', 'Connect', 1, 2, 3]
Quant
3

In [54]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list)
print(my_list[0])
print(my_list[len(my_list) - 1])

['Santiago', 'Acosta', 5, 6, 8, 0]
Santiago
0

You can also change the elements in the list by accessing an index and assigning a new value.

In [55]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [56]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
my_list[4] = 'ta'
print(my_list)

['Santiago', 'Acosta', 5, 6, 'ta', 0]

A list can also be sliced with a colon:

In [57]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [58]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[1:4])

['Acosta', 5, 6]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [59]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [60]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[1:])

['Acosta', 5, 6, 8, 0]

And all elements up to but excluding index 3:

In [61]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [62]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[:4])

['Santiago', 'Acosta', 5, 6]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [63]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [64]:
my_list = ['san', 'tia']
my_list.append('go')
print(my_list)
my_list.remove('go')
print(my_list)

['san', 'tia', 'go']
['san', 'tia']

When there are repeated instances of "Hello", the first one is removed.

##**Tuple**
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [65]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [66]:
my_tuple = ('Welcome','to','u nacional')
print(my_tuple[1:])

('to', 'u nacional')

##**Set**
A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [67]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'IBM', 'AAPL', 'GOOG', 'FB', 'F'}

In [68]:
stock_list = ['A','B','C','A','D','C','E','E']
stock_set = set(stock_list)
print(stock_set)

{'D', 'A', 'C', 'B', 'E'}

Set is an easy way to remove duplicate elements from a list.

##**Dictionary**
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [69]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [70]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
print(my_dic['A'])

B

After defining a dictionary, we can access any value by indicating its key in brackets.

In [71]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [72]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
my_dic['A'] = 'SS'
print(my_dic['A'])

SS

We can also change the value associated with a specified key:

In [73]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [74]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
print(my_dic.keys())

dict_keys(['A', 'C', 'E'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

##**Common String Operations**
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [75]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [76]:
my_str = 'hola como estas?'
print(my_str[5:])

como estas?

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [77]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [78]:
print("mi nombre es santiago acosta".count('e'))
print('mi nombre es santiago acosta'.find('o'))
print('mi nombre es santiago acosta'.replace('a','e'))

2
4
mi nombre es sentiego ecoste


The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list

In [79]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [80]:
Time = '2021-10-16 11:31:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-16 11:31:00
11

We can replace parts of a string by our variable. This is called string formatting.

In [81]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [82]:
my_time = 'Hour: {}, Minute: {}'.format(11, 31)
print(my_time)

Hour: 11, Minute: 31

Another way to format a string is to use the % symbol.

In [83]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [84]:
print ('3/2 es %f' % 1.5)
print('%s soy %s' % ('hola', 'yo'))

3/2 es 1.500000
hola soy yo

#**Summary**
Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#**02 Logical Operations and Loops**
#**Introduction**
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

#**Logical Operations**
Like most programming languages, Python has comparison operators:

In [85]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [86]:
print (12 == 3)    
print (999 == 999)    
print (4 != 3)    
print (78 >= 78)   
print (4 >= 9)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:



The statement "not P" is true if P is false, and vice versa.

*   The statement "P and Q" is true if both P and Q are true, otherwise it is false.
*   The statement "P or Q" is false if both P and Q are false, otherwise it is true.
*   The statement "not P" is true if P is false, and vice versa.

In [87]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [88]:
print (14 > 1 and 5 > 4)
print (89 > 1 and 8 < 2)
print (65 > 1 or  89 < 2)
print (4 < 1 and 2 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [89]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [90]:
print ((7 > 2 or 1 < 6) and (1!=4 and 6>3) and not ( 12 < 1 or 2 < 12 and (12!=45 and 45>33)))
print (32 > 21 or 16 < 37 and (17!=35 and 46>35) and not ( 34 < 27 or 12 < 33 and (15!=37 and 42>31)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

##**If Statement**
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.


An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......

In [91]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [92]:
i = 7
if i == 7: print ('i == 7 is True')

i == 7 is True

As we mentioned above, we can write some complex statements here:

In [93]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [94]:
p = 0 > 1
q = 3 > 2
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p is false

#**Loop Structure**
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

##**While Loop**
A "while" loop will run repeatedly until a certain condition has been met.

In [95]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [96]:
i = 0
while i < 7:
    print (i)
    i += 1

0
1
2
3
4
5
6

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

##**For Loop**
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [97]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [98]:
for x in [1,2,34,46,5]: print (x)

1
2
34
46
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [99]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [100]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','FB','F']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

##**Break and continue**
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [101]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [102]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'G': break

AAPL
GOOG
IBM
FB
F
V
G

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [103]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [104]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'v': continue
    print (stock)

AAPL
GOOG
IBM
FB
F
V
G
GE

#**List Comprehension**
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [105]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [106]:
cubes = []
for i in [1,2,3,4,5]:
    cubes.append(i**3)
print (cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [107]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [108]:
foo = [1,2,3,4,5]
cubes = [x**3 for x in foo]
print (cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [109]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [110]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','GOOG','FB']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['F', 'V', 'G', 'GE']

 A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [111]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [112]:
print ([(x, y) for x in [1,2,3,6,8,9] for y in [3,1,4,5,6,9,8] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB','H']
                                for y in ['F','V','G','GE','j'] if x != y])

[(1, 3), (1, 4), (1, 5), (1, 6), (1, 9), (1, 8), (2, 3), (2, 1), (2, 4), (2, 5), (2, 6), (2, 9), (2, 8), (3, 1), (3, 4), (3, 5), (3, 6), (3, 9), (3, 8), (6, 3), (6, 1), (6, 4), (6, 5), (6, 9), (6, 8), (8, 3), (8, 1), (8, 4), (8, 5), (8, 6), (8, 9), (9, 3), (9, 1), (9, 4), (9, 5), (9, 6), (9, 8)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'AAPL vs j', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'GOOG vs j', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'IBM vs j', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE', 'FB vs j', 'H vs F', 'H vs V', 'H vs G', 'H vs GE', 'H vs j']

List comprehension is an elegant way to organize one or more for loops when creating a list.

#**Summary**
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

#**03 Functions and Objective-Oriented Programming**
#**Introduction**
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

#**Functions**
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [113]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

In [114]:
def product(x,y):
    return x**y
print (product(2,4))
print (product(5,8))

16
390625

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [115]:
def say_hi():
    print ('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [116]:
def say_burrito():
    print ('burrito burrito')
say_burrito()

burrito burrito

##**Built-in Function**
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [117]:
print (range(0,10))
print (range(1, 11))
print (range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [118]:
print (range(10))
print (range(1, 12))
print (range(1, 14, 2))

range(0, 10)
range(1, 12)
range(1, 14, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [119]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [120]:
tickersS = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE', 'ultimo']
print ("The number of tickers is {}".format(len(tickersS)))
for k in range(len(tickersS)):
    print (k + 1, tickersS[k])

The number of tickers is 9
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE
9 ultimo

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [121]:
x = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print (list(map(len,x)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [122]:
x = ['AAPL','GOOG','IBM','FBDDD','F','VXYS', 'GSS', 'GE']
print (list(map(len,x)))

[4, 4, 3, 5, 1, 4, 3, 2]

The **lambda** operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [123]:
print (list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
print (list(map(lambda x: x**2, range(14))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

map() can be applied to more than one list. The lists have to have the same length.

In [125]:
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [126]:
list(map(lambda x, y: x+y, [1,2,9,4,5], [5,4,3,6,12]))

[6, 6, 12, 10, 17]

**sorted()** takes a list or set and returns a new sorted list

In [127]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [128]:
sorted([5,2,3,4,1,8,19])

[1, 2, 3, 4, 5, 8, 19]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [129]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [130]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69000000), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71),
 ('MSFT', 69000000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [131]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [132]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('slp', 692), ('AXS', 150000), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('WMT', 75.32),
 ('AAPL', 144.09),
 ('slp', 692),
 ('GOOGL', 911.71),
 ('AXS', 150000)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [133]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [134]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('slp', 692), ('FB', 150), ('AXS', 150000)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('AXS', 150000),
 ('GOOGL', 911.71),
 ('slp', 692),
 ('FB', 150),
 ('AAPL', 144.09)]

#**Object-Oriented Programming**
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

#Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [135]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called init, which is a special method. When we create a new instance of the class, the init method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google"

In [136]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [137]:
apple.ticker 
google.print_return() 
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [138]:
slp  = Stock('SLP', 138.9, 166.09, 9898)
AXS = Stock('AXS', 89767.7, 31132.7, 12356)

In [139]:
slp.ticker 
AXS.print_return() 
AXS.update(912.8,913.4)
AXS.print_return()

-0.6531859455015556
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

.

In [140]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [141]:
slp.ceo ='uby'
slp.ceo

'uby'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [142]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [143]:
dir(slp)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

##**Inheritance**
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [144]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [145]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [146]:
slp = Child('SLP')
print (aa.name)
aa.update(19, 10222)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
19
10222
537.0
None

As seen above, the new class Child has inherited the methods from Stock.

#**Summary**
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

#**04 NumPy and Basic Pandas**
#**Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

#**NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [147]:
import numpy as np

#**Basic NumPy Arrays**
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [148]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [149]:
price_listS = [3234.73, 45.83, 4676.68, 1343.02, 68.5, 2323.62]
price_arrayS = np.array(price_listS)
print (price_arrayS, type(price_arrayS))

[3234.73   45.83 4676.68 1343.02   68.5  2323.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [150]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [151]:
Ars = np.array([[15,8], [5,43], [6,9]])
print (Ars, type(Ars))

[[15  8]
 [ 5 43]
 [ 6  9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [152]:
print (Ar.shape)

(2, 2)

In [153]:
print (Ars.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [154]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [155]:
print (Ars[0])
print (Ars[1])

[15  8]
[ 5 43]

f we want to access the matrix by column instead:

In [156]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [157]:
print ('First column:', Ars[:,0])
print ('Second column:', Ars[:,1])

First column: [15  5  6]
Second column: [ 8 43  9]

##**Array Functions**
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [158]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [159]:
np.log(price_arrayS)

array([8.08170074, 3.8249389 , 8.45034374, 7.20267609, 4.22683375,
       7.75088159])

Other functions return a single value:

In [160]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [161]:
print (np.mean(price_arrayS))
print (np.std(price_arrayS))
print (np.sum(price_arrayS))
print (np.max(price_arrayS))

1948.7300000000002
1671.2883045523095
11692.380000000001
4676.68

The functions above return the mean, standard deviation, total and maximum value of an array.

#**Pandas**
Pandas is one of the most powerful tools for dealing with financial data.

First we need to import Pandas:

In [162]:
import pandas as pd

##**Series**
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [163]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [164]:
priceS = [134.73, 2435.83, 43443.68, 674.02, 12343.5, 7642.62]
sS = pd.Series(priceS)
print (sS)

0      134.73
1     2435.83
2    43443.68
3      674.02
4    12343.50
5     7642.62
dtype: float64

We can customize the indices of a new Series:

In [165]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [166]:
sS = pd.Series(priceS, index = ['G', 'H', 'I', 'J', 'K', 'fL'])
print (sS)

G       134.73
H      2435.83
I     43443.68
J       674.02
K     12343.50
fL     7642.62
dtype: float64


Or we can change the indices of an existing Series:

In [167]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [168]:
sS.index = [1,2,3,4,5,6]
print (sS)

1      134.73
2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
dtype: float64

Series is like a list since it can be sliced by index:

In [169]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [170]:
print (sS[1:])
print (sS[:-2])

2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
dtype: float64
1      134.73
2     2435.83
3    43443.68
4      674.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [171]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [172]:
print (sS[4])
sS[4] = 0
print (sS)

674.02
1      134.73
2     2435.83
3    43443.68
4        0.00
5    12343.50
6     7642.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [173]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [174]:
sS = pd.Series(priceS, name = 'slp Prices')
print (sS)
print (sS.name)

0      134.73
1     2435.83
2    43443.68
3      674.02
4    12343.50
5     7642.62
Name: slp Prices, dtype: float64
slp Prices

We can get the statistical summaries of a Series:

In [175]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [176]:
print (sS.describe())

count        6.000000
mean     11112.396667
std      16514.348486
min        134.730000
25%       1114.472500
50%       5039.225000
75%      11168.280000
max      43443.680000
Name: slp Prices, dtype: float64

##**Time Index**
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [177]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [178]:
time_indexS = pd.date_range('2021-10-16', periods = len(s), freq = 'D')
print (time_indexS)
sS.index = time_indexS
print (sS)

DatetimeIndex(['2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19',
               '2021-10-20', '2021-10-21'],
              dtype='datetime64[ns]', freq='D')
2021-10-16      134.73
2021-10-17     2435.83
2021-10-18    43443.68
2021-10-19      674.02
2021-10-20    12343.50
2021-10-21     7642.62
Freq: D, Name: slp Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [179]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [180]:
sS.index = [1,2,3,4,5,6]
print (sS)
print (sS[1])

1      134.73
2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
Name: slp Prices, dtype: float64
134.73

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [181]:
print (s.iloc[1])

145.83

In [182]:
print (sS.iloc[1])

2435.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [183]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [184]:
sS.index = time_indexS
print (sS['2021-10-16'])

134.73

We can even access to a range of dates:

In [185]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [186]:
print (sS['2021-10-16':'2021-10-19'])

2021-10-16      134.73
2021-10-17     2435.83
2021-10-18    43443.68
2021-10-19      674.02
Freq: D, Name: slp Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [187]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [188]:
print (sS[sS < np.mean(sS)])
print (sS[(sS > np.mean(sS)) & (sS < np.mean(sS) + 1.64*np.std(sS))])

2021-10-16     134.73
2021-10-17    2435.83
2021-10-19     674.02
2021-10-21    7642.62
Name: slp Prices, dtype: float64
2021-10-20    12343.5
Freq: D, Name: slp Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

#**Summary**
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

In [189]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.64)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)

#**05 Pandas-Resampling and DataFrame**
#**Introduction**
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# **Fetching Data**
Here we use the QuantBook API to retrieve data.

In [190]:

import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
print(msft.info)

# get historical market data
data = msft.history(start="2018-01-01",  end="2019-01-01")
data

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Software—Infrastructure', 'ebitdaMargins': 0.48080003, 'profitMargins': 0.36451998, 'grossMargins': 0.68926, 'operatingCashflow': 76740001792, 'revenueGrowth': 0.213, 'operatingMargins': 0.41595, 'ebitda': 80815996928, 'targetLowPrice': 280, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 41337249792, 'targetMedianPrice': 338, 'currentPrice': 309.16, 'earningsGrowth': 0.486, 'currentRatio': 2.08, 'returnOnAssets': 0.13761, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 337.04, 'debtToEquity': 57.947, 'returnOnEquity': 0.47079, 'targetHighPrice': 384, 'totalCash': 130256003072, 'totalDebt': 82277998592, 'totalRevenue': 168087994368, 'totalCashPerShare': 17.333, 'financialCurrency': 'USD', 'revenuePerShare': 22.272, 'quickRatio': 1.898, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 13.537, 'beta3Year': None, 'enterpriseToEbitda': 28.154, '52WeekChange': 0.47162986, 'morningStarRiskRating': None, 'forwardEps': 10.13, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7507899904, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 18.884, 'sharesShort': 47171313, 'sharesPercentSharesOut': 0.0063, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71783996, 'netIncomeToCommon': 61270999040, 'trailingEps': 8.05, 'lastDividendValue': 0.56, 'SandP52WeekChange': 0.33635402, 'priceToBook': 16.37153, 'heldPercentInsiders': 0.0008, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.99, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 7507075761, 'beta': 0.802645, 'enterpriseValue': 2275325771776, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1629244800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.469, 'priceToSalesTrailing12Months': 13.80909, 'dateShortInterest': 1632960000, 'pegRatio': 2.28, 'ytdReturn': None, 'forwardPE': 30.519249, 'lastCapGain': None, 'shortPercentOfFloat': 0.0063, 'sharesShortPriorMonth': 45696881, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 310.76, 'regularMarketOpen': 310.4, 'twoHundredDayAverage': 276.41827, 'trailingAnnualDividendYield': 0.0072081345, 'payoutRatio': 0.272, 'volume24Hr': None, 'regularMarketDayHigh': 311.09, 'navPrice': None, 'averageDailyVolume10Day': 19447016, 'regularMarketPreviousClose': 310.76, 'fiftyDayAverage': 297.27206, 'trailingAnnualDividendRate': 2.24, 'open': 310.4, 'toCurrency': None, 'averageVolume10days': 19447016, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 307.8, 'currency': 'USD', 'trailingPE': 38.40497, 'regularMarketVolume': 17449332, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2321142251520, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22355900, 'dayLow': 307.8, 'ask': 309, 'askSize': 900, 'volume': 17449332, 'fiftyTwoWeekHigh': 311.09, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 308.91, 'tradeable': False, 'dividendYield': 0.008, 'bidSize': 800, 'dayHigh': 311.09, 'regularMarketPrice': 309.16, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2018-01-02  82.019707  82.191118  81.419775  ...  22483800        0.0             0
2018-01-03  81.953026  82.381555  81.867324  ...  26061400        0.0             0
2018-01-04  82.457730  83.476675  82.438688  ...  21912000        0.0             0
2018-01-05  83.476686  84.190894  83.257659  ...  23407100        0.0             0
2018-01-08  83.990909  84.352779  83.419544  ...  22113000        0.0             0
...               ...        ...        ...  ...       ...        ...           ...
2018-12-24  94.628787  94.909729  91.044366  ...  43935200        0.0             0
2018-12-26  92.168121  97.544760  91.024981  ...  51634800        0.0             0
2018-12-27  96.198168  98.029129  93.388754  ...  49498500        0.0             0
2018-12-28  98.901014  99.211025  96.411293  ...  38196300        0.0             0
2018-12-31  98.126010  99.201338  97.302563  ...  33173800        0.0             0

[251 rows x 7 columns]

In [191]:
msftS = yf.Ticker("MSFT")

# get stock info
print(msftS.info)

# get historical market data
dataS = msftS.history(start="2019-01-01",  end="2020-01-01")
data

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Software—Infrastructure', 'ebitdaMargins': 0.48080003, 'profitMargins': 0.36451998, 'grossMargins': 0.68926, 'operatingCashflow': 76740001792, 'revenueGrowth': 0.213, 'operatingMargins': 0.41595, 'ebitda': 80815996928, 'targetLowPrice': 280, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 41337249792, 'targetMedianPrice': 338, 'currentPrice': 309.16, 'earningsGrowth': 0.486, 'currentRatio': 2.08, 'returnOnAssets': 0.13761, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 337.04, 'debtToEquity': 57.947, 'returnOnEquity': 0.47079, 'targetHighPrice': 384, 'totalCash': 130256003072, 'totalDebt': 82277998592, 'totalRevenue': 168087994368, 'totalCashPerShare': 17.333, 'financialCurrency': 'USD', 'revenuePerShare': 22.272, 'quickRatio': 1.898, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 13.537, 'beta3Year': None, 'enterpriseToEbitda': 28.154, '52WeekChange': 0.47162986, 'morningStarRiskRating': None, 'forwardEps': 10.13, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7507899904, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 18.884, 'sharesShort': 47171313, 'sharesPercentSharesOut': 0.0063, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71783996, 'netIncomeToCommon': 61270999040, 'trailingEps': 8.05, 'lastDividendValue': 0.56, 'SandP52WeekChange': 0.33635402, 'priceToBook': 16.37153, 'heldPercentInsiders': 0.0008, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.99, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 7507075761, 'beta': 0.802645, 'enterpriseValue': 2275325771776, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1629244800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.469, 'priceToSalesTrailing12Months': 13.80909, 'dateShortInterest': 1632960000, 'pegRatio': 2.28, 'ytdReturn': None, 'forwardPE': 30.519249, 'lastCapGain': None, 'shortPercentOfFloat': 0.0063, 'sharesShortPriorMonth': 45696881, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 310.76, 'regularMarketOpen': 310.4, 'twoHundredDayAverage': 276.41827, 'trailingAnnualDividendYield': 0.0072081345, 'payoutRatio': 0.272, 'volume24Hr': None, 'regularMarketDayHigh': 311.09, 'navPrice': None, 'averageDailyVolume10Day': 19447016, 'regularMarketPreviousClose': 310.76, 'fiftyDayAverage': 297.27206, 'trailingAnnualDividendRate': 2.24, 'open': 310.4, 'toCurrency': None, 'averageVolume10days': 19447016, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 307.8, 'currency': 'USD', 'trailingPE': 38.40497, 'regularMarketVolume': 17449332, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2321142251520, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22355900, 'dayLow': 307.8, 'ask': 309, 'askSize': 900, 'volume': 17449332, 'fiftyTwoWeekHigh': 311.09, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 308.91, 'tradeable': False, 'dividendYield': 0.008, 'bidSize': 800, 'dayHigh': 311.09, 'regularMarketPrice': 309.16, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2018-01-02  82.019707  82.191118  81.419775  ...  22483800        0.0             0
2018-01-03  81.953026  82.381555  81.867324  ...  26061400        0.0             0
2018-01-04  82.457730  83.476675  82.438688  ...  21912000        0.0             0
2018-01-05  83.476686  84.190894  83.257659  ...  23407100        0.0             0
2018-01-08  83.990909  84.352779  83.419544  ...  22113000        0.0             0
...               ...        ...        ...  ...       ...        ...           ...
2018-12-24  94.628787  94.909729  91.044366  ...  43935200        0.0             0
2018-12-26  92.168121  97.544760  91.024981  ...  51634800        0.0             0
2018-12-27  96.198168  98.029129  93.388754  ...  49498500        0.0             0
2018-12-28  98.901014  99.211025  96.411293  ...  38196300        0.0             0
2018-12-31  98.126010  99.201338  97.302563  ...  33173800        0.0             0

[251 rows x 7 columns]

#**Resampling**
**series.resample(freq)** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**series.resample.mean()** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [192]:
by_month = data.resample('M').mean()
print(by_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31   85.673269   86.331249  ...   0.000000           0.0
2018-02-28   87.292100   88.559519  ...   0.022105           0.0
2018-03-31   89.198370   90.138264  ...   0.000000           0.0
2018-04-30   89.485851   90.386108  ...   0.000000           0.0
2018-05-31   92.655920   93.521271  ...   0.019091           0.0
2018-06-30   96.729498   97.370553  ...   0.000000           0.0
2018-07-31  100.496214  101.332195  ...   0.000000           0.0
2018-08-31  104.440216  105.162139  ...   0.018261           0.0
2018-09-30  108.109373  108.947556  ...   0.000000           0.0
2018-10-31  105.905083  107.101180  ...   0.000000           0.0
2018-11-30  103.709790  104.887954  ...   0.021905           0.0
2018-12-31  101.743065  103.210996  ...   0.000000           0.0

[12 rows x 7 columns]

In [193]:
by_monthS = dataS.resample('M').mean()
print(by_monthS)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-31  100.704306  101.698902  ...   0.000000           0.0
2019-02-28  104.320236  105.233063  ...   0.024211           0.0
2019-03-31  111.896050  112.764248  ...   0.000000           0.0
2019-04-30  119.283607  119.899315  ...   0.000000           0.0
2019-05-31  123.018715  124.194438  ...   0.020909           0.0
2019-06-30  128.936794  129.979698  ...   0.000000           0.0
2019-07-31  135.058173  135.760367  ...   0.000000           0.0
2019-08-31  133.558049  134.642876  ...   0.020909           0.0
2019-09-30  135.557211  136.273410  ...   0.000000           0.0
2019-10-31  136.700302  137.551834  ...   0.000000           0.0
2019-11-30  145.036413  145.722410  ...   0.025500           0.0
2019-12-31  151.377177  152.152880  ...   0.000000           0.0

[12 rows x 7 columns]

In [194]:
data.resample('M').max()

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31   90.599723   90.894927  ...       0.00             0
2018-02-28   91.599351   91.695025  ...       0.42             0
2018-03-31   92.804871   93.034490  ...       0.00             0
2018-04-30   93.378919   93.665948  ...       0.00             0
2018-05-31   95.407590   96.080216  ...       0.42             0
2018-06-30   98.636196   98.674633  ...       0.00             0
2018-07-31  106.409850  106.803825  ...       0.00             0
2018-08-31  107.735725  108.787131  ...       0.42             0
2018-09-30  110.735602  111.208254  ...       0.00             0
2018-10-31  111.333655  112.066750  ...       0.00             0
2018-11-30  107.841835  108.266240  ...       0.46             0
2018-12-31  109.470232  109.877110  ...       0.00             0

[12 rows x 7 columns]

In [195]:
dataS.resample('M').max()

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-31  104.103276  104.529534  ...       0.00             0
2019-02-28  109.003750  110.171228  ...       0.46             0
2019-03-31  116.261601  117.545821  ...       0.00             0
2019-04-30  126.535421  127.809918  ...       0.00             0
2019-05-31  126.992677  127.394416  ...       0.46             0
2019-06-30  134.220139  135.147830  ...       0.00             0
2019-07-31  138.175006  138.350729  ...       0.00             0
2019-08-31  136.332662  137.628141  ...       0.46             0
2019-09-30  138.155026  139.487489  ...       0.00             0
2019-10-31  141.966245  142.720661  ...       0.00             0
2019-11-30  149.753661  149.920784  ...       0.51             0
2019-12-31  156.753264  156.851579  ...       0.00             0

[12 rows x 7 columns]

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [196]:
three_day = data.resample('3D').mean()
two_week = data.resample('2W').mean()
two_month = data.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month)

                 Open        High  ...  Dividends  Stock Splits
Date                               ...
2018-01-02  82.143488   82.683116  ...        0.0           0.0
2018-01-05  83.476686   84.190894  ...        0.0           0.0
2018-01-08  84.025829   84.276599  ...        0.0           0.0
2018-01-11  84.181360   84.709875  ...        0.0           0.0
2018-01-14  85.800229   86.457303  ...        0.0           0.0
...               ...         ...  ...        ...           ...
2018-12-19  99.566233  101.458548  ...        0.0           0.0
2018-12-22  94.628787   94.909729  ...        0.0           0.0
2018-12-25  94.183145   97.786944  ...        0.0           0.0
2018-12-28  98.901014   99.211025  ...        0.0           0.0
2018-12-31  98.126010   99.201338  ...        0.0           0.0

[122 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-07   82.476787   83.060060  ...   0.000000           0.0
2018-01-21   84.713585   85.256384  ...   0.000000           0.0
2018-02-04   88.624699   89.437944  ...   0.000000           0.0
2018-02-18   85.235401   86.999370  ...   0.042000           0.0
2018-03-04   89.366938   90.140843  ...   0.000000           0.0
2018-03-18   90.530668   91.289372  ...   0.000000           0.0
2018-04-01   87.812754   88.934279  ...   0.000000           0.0
2018-04-15   87.423141   88.719538  ...   0.000000           0.0
2018-04-29   91.280762   91.868208  ...   0.000000           0.0
2018-05-13   91.187957   92.117920  ...   0.000000           0.0
2018-05-27   93.482678   94.205662  ...   0.042000           0.0
2018-06-10   96.538227   97.201247  ...   0.000000           0.0
2018-06-24   97.099723   97.672415  ...   0.000000           0.0
2018-07-08   95.308281   96.225404  ...   0.000000           0.0
2018-07-22  100.019884  100.797249  ...   0.000000           0.0
2018-08-05  103.456056  104.366025  ...   0.000000           0.0
2018-08-19  104.578135  105.069747  ...   0.042000           0.0
2018-09-02  104.959610  105.805561  ...   0.000000           0.0
2018-09-16  106.426015  107.352026  ...   0.000000           0.0
2018-09-30  109.624396  110.383532  ...   0.000000           0.0
2018-10-14  108.141810  109.231803  ...   0.000000           0.0
2018-10-28  104.841932  106.116162  ...   0.000000           0.0
2018-11-11  103.846471  104.980832  ...   0.000000           0.0
2018-11-25  102.478633  103.600521  ...   0.051111           0.0
2018-12-09  105.392807  106.793208  ...   0.000000           0.0
2018-12-23  102.767354  104.125558  ...   0.000000           0.0
2019-01-06   96.004420   97.779196  ...   0.000000           0.0

[27 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31   85.673269   86.331249  ...   0.000000           0.0
2018-03-31   88.292892   89.388361  ...   0.010500           0.0
2018-05-31   91.107747   91.990145  ...   0.009767           0.0
2018-07-31   98.612856   99.351374  ...   0.000000           0.0
2018-09-30  106.100073  106.874589  ...   0.010000           0.0
2018-11-30  104.857329  106.044868  ...   0.010455           0.0
2019-01-31  101.743065  103.210996  ...   0.000000           0.0

[7 rows x 7 columns]

In [197]:
three_dayS = dataS.resample('3D').mean()
two_weekS = dataS.resample('2W').mean()
two_monthS = dataS.resample('2M').mean()


print(three_dayS)
print(two_weekS)
print(two_monthS)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-02   96.672867   98.313306  ...        0.0           0.0
2019-01-05   98.465077  100.044158  ...        0.0           0.0
2019-01-08  100.144274  100.945117  ...        0.0           0.0
2019-01-11   99.966669  100.208860  ...        0.0           0.0
2019-01-14   99.998948  101.455322  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2019-12-19  153.042098  154.472492  ...        0.0           0.0
2019-12-22  155.131166  155.244227  ...        0.0           0.0
2019-12-25  155.824258  156.448521  ...        0.0           0.0
2019-12-28  156.301044  156.330536  ...        0.0           0.0
2019-12-31  154.118588  155.101675  ...        0.0           0.0

[122 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-06   96.672867   98.313306  ...   0.000000           0.0
2019-01-20  100.468481  101.528308  ...   0.000000           0.0
2019-02-03  102.291692  102.922464  ...   0.000000           0.0
2019-02-17  102.647229  103.515240  ...   0.000000           0.0
2019-03-03  107.211632  108.153863  ...   0.051111           0.0
2019-03-17  109.501881  110.419326  ...   0.000000           0.0
2019-03-31  114.496752  115.389875  ...   0.000000           0.0
2019-04-14  116.430879  116.866741  ...   0.000000           0.0
2019-04-28  120.886112  121.711996  ...   0.000000           0.0
2019-05-12  123.857030  124.997267  ...   0.000000           0.0
2019-05-26  123.045601  124.418297  ...   0.046000           0.0
2019-06-09  122.340471  123.420048  ...   0.000000           0.0
2019-06-23  130.633459  131.570901  ...   0.000000           0.0
2019-07-07  132.674037  133.390137  ...   0.000000           0.0
2019-07-21  134.605872  135.226926  ...   0.000000           0.0
2019-08-04  136.117499  137.168219  ...   0.000000           0.0
2019-08-18  132.433227  133.742494  ...   0.046000           0.0
2019-09-01  134.531897  135.202046  ...   0.000000           0.0
2019-09-15  135.094936  135.515139  ...   0.000000           0.0
2019-09-29  136.003485  136.943068  ...   0.000000           0.0
2019-10-13  134.809170  135.811454  ...   0.000000           0.0
2019-10-27  136.605052  137.362401  ...   0.000000           0.0
2019-11-10  141.393101  142.057376  ...   0.000000           0.0
2019-11-24  145.647255  146.395196  ...   0.051000           0.0
2019-12-08  148.147965  148.795707  ...   0.000000           0.0
2019-12-22  150.880294  151.950877  ...   0.000000           0.0
2020-01-05  155.388414  155.802951  ...   0.000000           0.0

[27 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-31  100.704306  101.698902  ...   0.000000           0.0
2019-03-31  108.297538  109.186935  ...   0.011500           0.0
2019-05-31  121.194592  122.096820  ...   0.010698           0.0
2019-07-31  132.143230  133.007667  ...   0.000000           0.0
2019-09-30  134.510031  135.419321  ...   0.010952           0.0
2019-11-30  140.577563  141.352102  ...   0.011860           0.0
2020-01-31  151.377177  152.152880  ...   0.000000           0.0

[7 rows x 7 columns]


Besides the mean() method, other methods can also be used with the resampler

In [198]:
std = data.resample('W').std()
max = data.resample('W').max()
min = data.resample('W').min()

print(std)
print(max)
print(min)

                Open      High       Low  ...        Volume  Dividends  Stock Splits
Date                                      ...
2018-01-07  0.703185  0.943006  0.793016  ...  1.836591e+06   0.000000           0.0
2018-01-14  0.333927  0.632573  0.449957  ...  2.669655e+06   0.000000           0.0
2018-01-21  0.467296  0.207819  0.760284  ...  6.866705e+06   0.000000           0.0
2018-01-28  1.145455  0.920314  1.004813  ...  4.146669e+06   0.000000           0.0
2018-02-04  0.757188  0.990030  0.964733  ...  7.487110e+06   0.000000           0.0
2018-02-11  1.944573  1.604971  2.173235  ...  1.056767e+07   0.000000           0.0
2018-02-18  1.821807  1.767518  1.882816  ...  4.161049e+06   0.187830           0.0
2018-02-25  0.904336  0.546521  0.548865  ...  2.737245e+06   0.000000           0.0
2018-03-04  1.489061  1.070099  1.460020  ...  4.093301e+06   0.000000           0.0
2018-03-11  1.095241  0.981669  1.077883  ...  5.763332e+06   0.000000           0.0
2018-03-18  1.340987  1.146521  1.149527  ...  9.171835e+06   0.000000           0.0
2018-03-25  1.638393  1.534584  2.327955  ...  9.015458e+06   0.000000           0.0
2018-04-01  2.286877  1.667030  0.885344  ...  5.009548e+06   0.000000           0.0
2018-04-08  1.692917  1.253791  1.576423  ...  6.794869e+06   0.000000           0.0
2018-04-15  1.039729  0.485999  0.724935  ...  3.080836e+06   0.000000           0.0
2018-04-22  0.939994  0.897586  0.850172  ...  4.472303e+06   0.000000           0.0
2018-04-29  1.753022  1.641126  1.597504  ...  9.836365e+06   0.000000           0.0
2018-05-06  1.390239  0.541566  0.287661  ...  6.980976e+06   0.000000           0.0
2018-05-13  1.073339  0.735340  1.035125  ...  3.855717e+06   0.000000           0.0
2018-05-20  0.565629  0.462034  0.452383  ...  3.081847e+06   0.187830           0.0
2018-05-27  0.816783  0.430835  0.551591  ...  4.162846e+06   0.000000           0.0
2018-06-03  0.696158  0.840722  0.809745  ...  4.900777e+06   0.000000           0.0
2018-06-10  0.675116  0.358933  0.626682  ...  3.141967e+06   0.000000           0.0
2018-06-17  0.311034  0.265815  0.329174  ...  1.898866e+07   0.000000           0.0
2018-06-24  0.962811  0.814086  0.788231  ...  6.432967e+06   0.000000           0.0
2018-07-01  0.958648  0.402124  0.659584  ...  3.717724e+06   0.000000           0.0
2018-07-08  0.972406  0.659090  0.661325  ...  2.306816e+06   0.000000           0.0
2018-07-15  1.206111  1.448999  1.184757  ...  3.025526e+06   0.000000           0.0
2018-07-22  1.320200  1.062877  0.794923  ...  1.373915e+07   0.000000           0.0
2018-07-29  1.709749  1.280741  1.328222  ...  3.869586e+06   0.000000           0.0
2018-08-05  0.906950  0.724714  0.793937  ...  5.858583e+06   0.000000           0.0
2018-08-12  0.636210  0.650251  0.726151  ...  2.544655e+06   0.000000           0.0
2018-08-19  0.525267  0.538782  0.439046  ...  5.328709e+06   0.187830           0.0
2018-08-26  0.691956  0.511397  0.715601  ...  2.287459e+06   0.000000           0.0
2018-09-02  1.029903  1.330507  1.206031  ...  1.825507e+06   0.000000           0.0
2018-09-09  1.499428  1.596636  1.304939  ...  5.019779e+06   0.000000           0.0
2018-09-16  1.932801  1.648844  1.775568  ...  3.207349e+06   0.000000           0.0
2018-09-23  0.784272  0.737657  0.876649  ...  2.200322e+07   0.000000           0.0
2018-09-30  0.702848  0.201341  0.728134  ...  3.335335e+06   0.000000           0.0
2018-10-07  1.083735  1.170261  1.920889  ...  7.637913e+06   0.000000           0.0
2018-10-14  2.537617  1.474455  2.562160  ...  1.746064e+07   0.000000           0.0
2018-10-21  1.103591  0.864037  0.968986  ...  2.585278e+06   0.000000           0.0
2018-10-28  1.396207  0.771662  2.331717  ...  1.539347e+07   0.000000           0.0
2018-11-04  1.633039  1.607647  2.405142  ...  1.304274e+07   0.000000           0.0
2018-11-11  2.202589  2.001813  2.049715  ...  5.499846e+06   0.000000           0.0
2018-11-18  1.434678  0.633424  1.157934  ...  2.771663e+06   0.205718           0.0
2018-11-25  2.883340  2.407150  1.705473  ...  2.165005e+07   0.000000           0.0
2018-12-02  2.471197  2.223787  2.094235  ...  7.495545e+06   0.000000           0.0
2018-12-09  3.197186  2.085688  2.887531  ...  6.152820e+06   0.000000           0.0
2018-12-16  2.281563  1.359597  2.104929  ...  6.012106e+06   0.000000           0.0
2018-12-23  1.320548  1.440212  2.076323  ...  2.395179e+07   0.000000           0.0
2018-12-30  2.823241  1.816203  2.550098  ...  6.028169e+06   0.000000           0.0
2019-01-06       NaN       NaN       NaN  ...           NaN        NaN           NaN

[53 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-07   83.476686   84.190894  ...       0.00             0
2018-01-14   84.438470   85.495499  ...       0.00             0
2018-01-21   85.838335   86.457303  ...       0.00             0
2018-01-28   88.676130   89.571266  ...       0.00             0
2018-02-04   90.599723   91.485347  ...       0.00             0
2018-02-11   86.238298   88.790403  ...       0.00             0
2018-02-18   88.451661   89.456253  ...       0.42             0
2018-02-25   89.551915   90.001589  ...       0.00             0
2018-03-04   91.599351   91.695025  ...       0.00             0
2018-03-11   91.168815   92.364754  ...       0.00             0
2018-03-18   92.804871   93.034490  ...       0.00             0
2018-03-25   89.685872   89.982469  ...       0.00             0
2018-04-01   90.833963   91.025310  ...       0.00             0
2018-04-08   88.442076   89.044827  ...       0.00             0
2018-04-15   89.982455   90.106830  ...       0.00             0
2018-04-22   92.269084   92.871834  ...       0.00             0
2018-04-29   93.378919   93.665948  ...       0.00             0
2018-05-06   92.163833   92.230805  ...       0.00             0
2018-05-13   93.570267   93.713763  ...       0.00             0
2018-05-20   93.685078   94.421781  ...       0.42             0
2018-05-27   94.869479   95.109698  ...       0.00             0
2018-06-03   95.407590   96.916178  ...       0.00             0
2018-06-10   98.636196   98.674633  ...       0.00             0
2018-06-17   97.742562   98.040456  ...       0.00             0
2018-06-24   98.088496   98.511274  ...       0.00             0
2018-07-01   96.089817   96.195516  ...       0.00             0
2018-07-08   96.551041   97.463899  ...       0.00             0
2018-07-15  100.288930  101.470831  ...       0.00             0
2018-07-22  103.853862  103.969165  ...       0.00             0
2018-07-29  106.409850  106.803825  ...       0.00             0
2018-08-05  103.584816  103.863479  ...       0.00             0
2018-08-12  105.420120  105.852529  ...       0.00             0
2018-08-19  104.968499  105.458582  ...       0.42             0
2018-08-26  103.858044  104.716534  ...       0.00             0
2018-09-02  107.735725  108.787131  ...       0.00             0
2018-09-09  107.079788  107.996154  ...       0.00             0
2018-09-16  109.346599  109.703505  ...       0.00             0
2018-09-23  109.963925  111.208254  ...       0.00             0
2018-09-30  110.735602  111.024976  ...       0.00             0
2018-10-07  111.333655  112.066750  ...       0.00             0
2018-10-14  107.706789  109.076506  ...       0.00             0
2018-10-21  107.726072  107.851467  ...       0.00             0
2018-10-28  105.449620  106.626428  ...       0.00             0
2018-11-04  104.282467  104.851575  ...       0.00             0
2018-11-11  107.841835  108.266240  ...       0.00             0
2018-11-18  105.546080  106.066962  ...       0.46             0
2018-11-25  104.887969  105.168911  ...       0.00             0
2018-12-02  107.242065  107.852388  ...       0.00             0
2018-12-09  109.470232  109.877110  ...       0.00             0
2018-12-16  107.426135  107.794262  ...       0.00             0
2018-12-23  102.117304  103.541376  ...       0.00             0
2018-12-30   98.901014   99.211025  ...       0.00             0
2019-01-06   98.126010   99.201338  ...       0.00             0

[53 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-07   81.953026   82.191118  ...        0.0             0
2018-01-14   83.667151   83.924250  ...        0.0             0
2018-01-21   84.828913   85.971644  ...        0.0             0
2018-01-28   85.705022   87.247715  ...        0.0             0
2018-02-04   88.847520   89.190341  ...        0.0             0
2018-02-11   82.181576   84.686064  ...        0.0             0
2018-02-18   84.505138   85.495508  ...        0.0             0
2018-02-25   87.523592   88.719553  ...        0.0             0
2018-03-04   87.619270   89.121369  ...        0.0             0
2018-03-11   88.346400   89.877201  ...        0.0             0
2018-03-18   89.484929   90.489521  ...        0.0             0
2018-03-25   85.629231   86.547712  ...        0.0             0
2018-04-01   85.935382   87.284405  ...        0.0             0
2018-04-08   84.050589   86.155446  ...        0.0             0
2018-04-15   87.102634   89.140511  ...        0.0             0
2018-04-22   90.001586   90.566073  ...        0.0             0
2018-04-29   89.264877   89.264877  ...        0.0             0
2018-05-06   88.939600   90.824401  ...        0.0             0
2018-05-13   91.054010   92.001190  ...        0.0             0
2018-05-20   92.255820   93.139844  ...        0.0             0
2018-05-27   92.928452   94.177633  ...        0.0             0
2018-06-03   94.014262   95.013597  ...        0.0             0
2018-06-10   97.137196   97.877069  ...        0.0             0
2018-06-17   97.060310   97.483112  ...        0.0             0
2018-06-24   95.753505   96.829704  ...        0.0             0
2018-07-01   93.572254   95.234611  ...        0.0             0
2018-07-08   94.264100   96.012932  ...        0.0             0
2018-07-15   97.194846   98.251846  ...        0.0             0
2018-07-22  100.519552  101.192178  ...        0.0             0
2018-07-29  102.143471  103.911520  ...        0.0             0
2018-08-05  101.278668  102.287596  ...        0.0             0
2018-08-12  103.892298  104.180563  ...        0.0             0
2018-08-19  103.559013  104.079895  ...        0.0             0
2018-08-26  102.102485  103.539731  ...        0.0             0
2018-09-02  105.401378  105.758281  ...        0.0             0
2018-09-09  104.398210  104.870860  ...        0.0             0
2018-09-16  104.986625  105.758304  ...        0.0             0
2018-09-23  108.218020  109.308009  ...        0.0             0
2018-09-30  109.028277  110.513755  ...        0.0             0
2018-10-07  108.642424  109.163306  ...        0.0             0
2018-10-14  101.620176  105.073431  ...        0.0             0
2018-10-21  105.054153  105.603973  ...        0.0             0
2018-10-28  101.948146  104.649012  ...        0.0             0
2018-11-04   99.990012  100.684515  ...        0.0             0
2018-11-11  102.604081  103.925573  ...        0.0             0
2018-11-18  101.710448  104.432678  ...        0.0             0
2018-11-25   98.620083   99.753534  ...        0.0             0
2018-12-02  101.516673  103.299194  ...        0.0             0
2018-12-09  102.514509  105.827677  ...        0.0             0
2018-12-16  101.526368  104.607034  ...        0.0             0
2018-12-23   98.455379   99.782587  ...        0.0             0
2018-12-30   92.168121   94.909729  ...        0.0             0
2019-01-06   98.126010   99.201338  ...        0.0             0

[53 rows x 7 columns]

In [199]:
stdS = dataS.resample('W').std()
maxS = dataS.resample('W').max()
minS = dataS.resample('W').min()

print(std)
print(max)
print(min)

                Open      High       Low  ...        Volume  Dividends  Stock Splits
Date                                      ...
2018-01-07  0.703185  0.943006  0.793016  ...  1.836591e+06   0.000000           0.0
2018-01-14  0.333927  0.632573  0.449957  ...  2.669655e+06   0.000000           0.0
2018-01-21  0.467296  0.207819  0.760284  ...  6.866705e+06   0.000000           0.0
2018-01-28  1.145455  0.920314  1.004813  ...  4.146669e+06   0.000000           0.0
2018-02-04  0.757188  0.990030  0.964733  ...  7.487110e+06   0.000000           0.0
2018-02-11  1.944573  1.604971  2.173235  ...  1.056767e+07   0.000000           0.0
2018-02-18  1.821807  1.767518  1.882816  ...  4.161049e+06   0.187830           0.0
2018-02-25  0.904336  0.546521  0.548865  ...  2.737245e+06   0.000000           0.0
2018-03-04  1.489061  1.070099  1.460020  ...  4.093301e+06   0.000000           0.0
2018-03-11  1.095241  0.981669  1.077883  ...  5.763332e+06   0.000000           0.0
2018-03-18  1.340987  1.146521  1.149527  ...  9.171835e+06   0.000000           0.0
2018-03-25  1.638393  1.534584  2.327955  ...  9.015458e+06   0.000000           0.0
2018-04-01  2.286877  1.667030  0.885344  ...  5.009548e+06   0.000000           0.0
2018-04-08  1.692917  1.253791  1.576423  ...  6.794869e+06   0.000000           0.0
2018-04-15  1.039729  0.485999  0.724935  ...  3.080836e+06   0.000000           0.0
2018-04-22  0.939994  0.897586  0.850172  ...  4.472303e+06   0.000000           0.0
2018-04-29  1.753022  1.641126  1.597504  ...  9.836365e+06   0.000000           0.0
2018-05-06  1.390239  0.541566  0.287661  ...  6.980976e+06   0.000000           0.0
2018-05-13  1.073339  0.735340  1.035125  ...  3.855717e+06   0.000000           0.0
2018-05-20  0.565629  0.462034  0.452383  ...  3.081847e+06   0.187830           0.0
2018-05-27  0.816783  0.430835  0.551591  ...  4.162846e+06   0.000000           0.0
2018-06-03  0.696158  0.840722  0.809745  ...  4.900777e+06   0.000000           0.0
2018-06-10  0.675116  0.358933  0.626682  ...  3.141967e+06   0.000000           0.0
2018-06-17  0.311034  0.265815  0.329174  ...  1.898866e+07   0.000000           0.0
2018-06-24  0.962811  0.814086  0.788231  ...  6.432967e+06   0.000000           0.0
2018-07-01  0.958648  0.402124  0.659584  ...  3.717724e+06   0.000000           0.0
2018-07-08  0.972406  0.659090  0.661325  ...  2.306816e+06   0.000000           0.0
2018-07-15  1.206111  1.448999  1.184757  ...  3.025526e+06   0.000000           0.0
2018-07-22  1.320200  1.062877  0.794923  ...  1.373915e+07   0.000000           0.0
2018-07-29  1.709749  1.280741  1.328222  ...  3.869586e+06   0.000000           0.0
2018-08-05  0.906950  0.724714  0.793937  ...  5.858583e+06   0.000000           0.0
2018-08-12  0.636210  0.650251  0.726151  ...  2.544655e+06   0.000000           0.0
2018-08-19  0.525267  0.538782  0.439046  ...  5.328709e+06   0.187830           0.0
2018-08-26  0.691956  0.511397  0.715601  ...  2.287459e+06   0.000000           0.0
2018-09-02  1.029903  1.330507  1.206031  ...  1.825507e+06   0.000000           0.0
2018-09-09  1.499428  1.596636  1.304939  ...  5.019779e+06   0.000000           0.0
2018-09-16  1.932801  1.648844  1.775568  ...  3.207349e+06   0.000000           0.0
2018-09-23  0.784272  0.737657  0.876649  ...  2.200322e+07   0.000000           0.0
2018-09-30  0.702848  0.201341  0.728134  ...  3.335335e+06   0.000000           0.0
2018-10-07  1.083735  1.170261  1.920889  ...  7.637913e+06   0.000000           0.0
2018-10-14  2.537617  1.474455  2.562160  ...  1.746064e+07   0.000000           0.0
2018-10-21  1.103591  0.864037  0.968986  ...  2.585278e+06   0.000000           0.0
2018-10-28  1.396207  0.771662  2.331717  ...  1.539347e+07   0.000000           0.0
2018-11-04  1.633039  1.607647  2.405142  ...  1.304274e+07   0.000000           0.0
2018-11-11  2.202589  2.001813  2.049715  ...  5.499846e+06   0.000000           0.0
2018-11-18  1.434678  0.633424  1.157934  ...  2.771663e+06   0.205718           0.0
2018-11-25  2.883340  2.407150  1.705473  ...  2.165005e+07   0.000000           0.0
2018-12-02  2.471197  2.223787  2.094235  ...  7.495545e+06   0.000000           0.0
2018-12-09  3.197186  2.085688  2.887531  ...  6.152820e+06   0.000000           0.0
2018-12-16  2.281563  1.359597  2.104929  ...  6.012106e+06   0.000000           0.0
2018-12-23  1.320548  1.440212  2.076323  ...  2.395179e+07   0.000000           0.0
2018-12-30  2.823241  1.816203  2.550098  ...  6.028169e+06   0.000000           0.0
2019-01-06       NaN       NaN       NaN  ...           NaN        NaN           NaN

[53 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-07   83.476686   84.190894  ...       0.00             0
2018-01-14   84.438470   85.495499  ...       0.00             0
2018-01-21   85.838335   86.457303  ...       0.00             0
2018-01-28   88.676130   89.571266  ...       0.00             0
2018-02-04   90.599723   91.485347  ...       0.00             0
2018-02-11   86.238298   88.790403  ...       0.00             0
2018-02-18   88.451661   89.456253  ...       0.42             0
2018-02-25   89.551915   90.001589  ...       0.00             0
2018-03-04   91.599351   91.695025  ...       0.00             0
2018-03-11   91.168815   92.364754  ...       0.00             0
2018-03-18   92.804871   93.034490  ...       0.00             0
2018-03-25   89.685872   89.982469  ...       0.00             0
2018-04-01   90.833963   91.025310  ...       0.00             0
2018-04-08   88.442076   89.044827  ...       0.00             0
2018-04-15   89.982455   90.106830  ...       0.00             0
2018-04-22   92.269084   92.871834  ...       0.00             0
2018-04-29   93.378919   93.665948  ...       0.00             0
2018-05-06   92.163833   92.230805  ...       0.00             0
2018-05-13   93.570267   93.713763  ...       0.00             0
2018-05-20   93.685078   94.421781  ...       0.42             0
2018-05-27   94.869479   95.109698  ...       0.00             0
2018-06-03   95.407590   96.916178  ...       0.00             0
2018-06-10   98.636196   98.674633  ...       0.00             0
2018-06-17   97.742562   98.040456  ...       0.00             0
2018-06-24   98.088496   98.511274  ...       0.00             0
2018-07-01   96.089817   96.195516  ...       0.00             0
2018-07-08   96.551041   97.463899  ...       0.00             0
2018-07-15  100.288930  101.470831  ...       0.00             0
2018-07-22  103.853862  103.969165  ...       0.00             0
2018-07-29  106.409850  106.803825  ...       0.00             0
2018-08-05  103.584816  103.863479  ...       0.00             0
2018-08-12  105.420120  105.852529  ...       0.00             0
2018-08-19  104.968499  105.458582  ...       0.42             0
2018-08-26  103.858044  104.716534  ...       0.00             0
2018-09-02  107.735725  108.787131  ...       0.00             0
2018-09-09  107.079788  107.996154  ...       0.00             0
2018-09-16  109.346599  109.703505  ...       0.00             0
2018-09-23  109.963925  111.208254  ...       0.00             0
2018-09-30  110.735602  111.024976  ...       0.00             0
2018-10-07  111.333655  112.066750  ...       0.00             0
2018-10-14  107.706789  109.076506  ...       0.00             0
2018-10-21  107.726072  107.851467  ...       0.00             0
2018-10-28  105.449620  106.626428  ...       0.00             0
2018-11-04  104.282467  104.851575  ...       0.00             0
2018-11-11  107.841835  108.266240  ...       0.00             0
2018-11-18  105.546080  106.066962  ...       0.46             0
2018-11-25  104.887969  105.168911  ...       0.00             0
2018-12-02  107.242065  107.852388  ...       0.00             0
2018-12-09  109.470232  109.877110  ...       0.00             0
2018-12-16  107.426135  107.794262  ...       0.00             0
2018-12-23  102.117304  103.541376  ...       0.00             0
2018-12-30   98.901014   99.211025  ...       0.00             0
2019-01-06   98.126010   99.201338  ...       0.00             0

[53 rows x 7 columns]
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-07   81.953026   82.191118  ...        0.0             0
2018-01-14   83.667151   83.924250  ...        0.0             0
2018-01-21   84.828913   85.971644  ...        0.0             0
2018-01-28   85.705022   87.247715  ...        0.0             0
2018-02-04   88.847520   89.190341  ...        0.0             0
2018-02-11   82.181576   84.686064  ...        0.0             0
2018-02-18   84.505138   85.495508  ...        0.0             0
2018-02-25   87.523592   88.719553  ...        0.0             0
2018-03-04   87.619270   89.121369  ...        0.0             0
2018-03-11   88.346400   89.877201  ...        0.0             0
2018-03-18   89.484929   90.489521  ...        0.0             0
2018-03-25   85.629231   86.547712  ...        0.0             0
2018-04-01   85.935382   87.284405  ...        0.0             0
2018-04-08   84.050589   86.155446  ...        0.0             0
2018-04-15   87.102634   89.140511  ...        0.0             0
2018-04-22   90.001586   90.566073  ...        0.0             0
2018-04-29   89.264877   89.264877  ...        0.0             0
2018-05-06   88.939600   90.824401  ...        0.0             0
2018-05-13   91.054010   92.001190  ...        0.0             0
2018-05-20   92.255820   93.139844  ...        0.0             0
2018-05-27   92.928452   94.177633  ...        0.0             0
2018-06-03   94.014262   95.013597  ...        0.0             0
2018-06-10   97.137196   97.877069  ...        0.0             0
2018-06-17   97.060310   97.483112  ...        0.0             0
2018-06-24   95.753505   96.829704  ...        0.0             0
2018-07-01   93.572254   95.234611  ...        0.0             0
2018-07-08   94.264100   96.012932  ...        0.0             0
2018-07-15   97.194846   98.251846  ...        0.0             0
2018-07-22  100.519552  101.192178  ...        0.0             0
2018-07-29  102.143471  103.911520  ...        0.0             0
2018-08-05  101.278668  102.287596  ...        0.0             0
2018-08-12  103.892298  104.180563  ...        0.0             0
2018-08-19  103.559013  104.079895  ...        0.0             0
2018-08-26  102.102485  103.539731  ...        0.0             0
2018-09-02  105.401378  105.758281  ...        0.0             0
2018-09-09  104.398210  104.870860  ...        0.0             0
2018-09-16  104.986625  105.758304  ...        0.0             0
2018-09-23  108.218020  109.308009  ...        0.0             0
2018-09-30  109.028277  110.513755  ...        0.0             0
2018-10-07  108.642424  109.163306  ...        0.0             0
2018-10-14  101.620176  105.073431  ...        0.0             0
2018-10-21  105.054153  105.603973  ...        0.0             0
2018-10-28  101.948146  104.649012  ...        0.0             0
2018-11-04   99.990012  100.684515  ...        0.0             0
2018-11-11  102.604081  103.925573  ...        0.0             0
2018-11-18  101.710448  104.432678  ...        0.0             0
2018-11-25   98.620083   99.753534  ...        0.0             0
2018-12-02  101.516673  103.299194  ...        0.0             0
2018-12-09  102.514509  105.827677  ...        0.0             0
2018-12-16  101.526368  104.607034  ...        0.0             0
2018-12-23   98.455379   99.782587  ...        0.0             0
2018-12-30   92.168121   94.909729  ...        0.0             0
2019-01-06   98.126010   99.201338  ...        0.0             0

[53 rows x 7 columns]


Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [200]:
last_day = data.resample('M').agg(lambda x: x[-1])
print(last_day)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2018-01-31   89.276057   90.847317  ...        0.0             0
2018-02-28   90.738277   91.570653  ...        0.0             0
2018-03-31   86.279830   88.298576  ...        0.0             0
2018-04-30   92.163833   92.230805  ...        0.0             0
2018-05-31   95.407590   96.080216  ...        0.0             0
2018-06-30   95.061653   96.003336  ...        0.0             0
2018-07-31  102.326032  102.547042  ...        0.0             0
2018-08-31  107.735725  108.787131  ...        0.0             0
2018-09-30  110.147211  110.513755  ...        0.0             0
2018-10-31  101.707004  104.311410  ...        0.0             0
2018-11-30  107.242065  107.503635  ...        0.0             0
2018-12-31   98.126010   99.201338  ...        0.0             0

[12 rows x 7 columns]

In [201]:
last_dayS = dataS.resample('M').agg(lambda x: x[-1])
print(last_dayS)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2019-01-31  100.557613  101.933254  ...        0.0             0
2019-02-28  109.003750  109.820982  ...        0.0             0
2019-03-31  114.870348  115.113573  ...        0.0             0
2019-04-30  126.292207  127.158087  ...        0.0             0
2019-05-31  121.310799  121.691634  ...        0.0             0
2019-06-30  131.407846  131.437140  ...        0.0             0
2019-07-31  137.032512  137.188756  ...        0.0             0
2019-08-31  136.332662  136.362053  ...        0.0             0
2019-09-30  135.254949  136.401259  ...        0.0             0
2019-10-31  141.966245  141.995637  ...        0.0             0
2019-11-30  149.527541  149.724156  ...        0.0             0
2019-12-31  154.118588  155.101675  ...        0.0             0

[12 rows x 7 columns]

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [202]:

monthly_return = data.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2018-01-31  0.088471  0.105318  0.093684  ...  1.168508        NaN           NaN
2018-02-28  0.005227  0.000932  0.005234  ... -0.340066        NaN           NaN
2018-03-31 -0.040536 -0.024109 -0.037456  ...  0.235136        NaN           NaN
2018-04-30  0.064773  0.060739  0.064450  ... -0.144115        NaN           NaN
2018-05-31  0.069846  0.053871  0.067329  ...  0.086982        NaN           NaN
2018-06-30 -0.003525 -0.009419 -0.008470  ... -0.021022        NaN           NaN
2018-07-31  0.085525  0.066560  0.075306  ...  0.413540        NaN           NaN
2018-08-31  0.057435  0.063542  0.061935  ... -0.017182        NaN           NaN
2018-09-30  0.030131  0.023312  0.031392  ... -0.043597        NaN           NaN
2018-10-31 -0.081133 -0.065180 -0.081408  ...  1.704132        NaN           NaN
2018-11-30  0.038564  0.038478  0.040770  ...  0.008429        NaN           NaN
2018-12-31 -0.103628 -0.097161 -0.092929  ... -0.044886        NaN           NaN

[12 rows x 7 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in long_scalars

In [203]:
monthly_returnS = dataS.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_returnS)

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2019-01-31  0.042692  0.034103  0.042854  ...  0.574795        NaN           NaN
2019-02-28  0.084202  0.088973  0.096308  ... -0.181558        NaN           NaN
2019-03-31  0.045885  0.046894  0.047372  ...  0.080787        NaN           NaN
2019-04-30  0.091299  0.097305  0.095597  ...  0.060441        NaN           NaN
2019-05-31 -0.044742 -0.042623 -0.030724  ... -0.006521        NaN           NaN
2019-06-30  0.086556  0.082255  0.118898  ... -0.209053        NaN           NaN
2019-07-31  0.027081  0.027725  0.000815  ...  0.706892        NaN           NaN
2019-08-31  0.019076 -0.009199 -0.001506  ... -0.409724        NaN           NaN
2019-09-30  0.010541  0.014723  0.015328  ... -0.084179        NaN           NaN
2019-10-31  0.037520  0.033369  0.043723  ...  0.146204        NaN           NaN
2019-11-30  0.057934  0.058151  0.061724  ... -0.638458        NaN           NaN
2019-12-31  0.032673  0.039123  0.054814  ... -0.330034        NaN           NaN

[12 rows x 7 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in long_scalars
  """Entry point for launching an IPython kernel.

Series object also provides us some convenient methods to do some quick calculation.

In [204]:

print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

Open            0.017596
High            0.018074
Low             0.018320
Close           0.016219
Volume          0.250488
Dividends            NaN
Stock Splits         NaN
dtype: float64
Open            0.064101
High            0.059249
Low             0.062053
Close           0.059652
Volume          0.594792
Dividends            NaN
Stock Splits         NaN
dtype: float64
Open            0.088471
High            0.105318
Low             0.093684
Close           0.105410
Volume          1.704132
Dividends            NaN
Stock Splits         NaN
dtype: float64

In [205]:
print(monthly_returnS.mean())
print(monthly_returnS.std())
print(monthly_returnS.max())

Open            0.040893
High            0.039233
Low             0.045434
Close           0.045572
Volume         -0.024201
Dividends            NaN
Stock Splits         NaN
dtype: float64
Open            0.037924
High            0.040400
Low             0.044486
Close           0.043116
Volume          0.384097
Dividends            NaN
Stock Splits         NaN
dtype: float64
Open            0.091299
High            0.097305
Low             0.118898
Close           0.117824
Volume          0.706892
Dividends            NaN
Stock Splits         NaN
dtype: float64

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [206]:
print(last_day.diff())
print(last_day.pct_change())

                Open      High       Low  ...      Volume  Dividends  Stock Splits
Date                                      ...
2018-01-31       NaN       NaN       NaN  ...         NaN        NaN           NaN
2018-02-28  1.462220  0.723336  0.533097  ... -17589000.0        0.0           0.0
2018-03-31 -4.458447 -3.272078 -5.003795  ...  14700200.0        0.0           0.0
2018-04-30  5.884003  3.932229  4.544550  ...  -4343900.0        0.0           0.0
2018-05-31  3.243758  3.849411  5.632815  ...  -7382700.0        0.0           0.0
2018-06-30 -0.345937 -0.076880 -0.269064  ...  -6087700.0        0.0           0.0
2018-07-31  7.264380  6.543706  6.774319  ...   -398000.0        0.0           0.0
2018-08-31  5.409692  6.240089  6.312303  ...  -4432500.0        0.0           0.0
2018-09-30  2.411487  1.726624  2.083528  ...  -1574900.0        0.0           0.0
2018-10-31 -8.440207 -6.202345 -7.996494  ...  29414600.0        0.0           0.0
2018-11-30  5.535061  3.192225  4.285155  ... -17396800.0        0.0           0.0
2018-12-31 -9.116055 -8.302297 -8.641363  ...   -491800.0        0.0           0.0

[12 rows x 7 columns]
                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2018-01-31       NaN       NaN       NaN  ...       NaN        NaN           NaN
2018-02-28  0.016379  0.007962  0.005987  ... -0.360753        NaN           NaN
2018-03-31 -0.049135 -0.035733 -0.055858  ...  0.471655        NaN           NaN
2018-04-30  0.068197  0.044533  0.053733  ... -0.094705        NaN           NaN
2018-05-31  0.035196  0.041737  0.063204  ... -0.177795        NaN           NaN
2018-06-30 -0.003626 -0.000800 -0.002840  ... -0.178311        NaN           NaN
2018-07-31  0.076418  0.068161  0.071697  ... -0.014187        NaN           NaN
2018-08-31  0.052867  0.060851  0.062338  ... -0.160277        NaN           NaN
2018-09-30  0.022383  0.015872  0.019369  ... -0.067817        NaN           NaN
2018-10-31 -0.076627 -0.056123 -0.072924  ...  1.358780        NaN           NaN
2018-11-30  0.054422  0.030603  0.042152  ... -0.340697        NaN           NaN
2018-12-31 -0.085004 -0.077228 -0.081565  ... -0.014608        NaN           NaN

[12 rows x 7 columns]

In [207]:
print(last_dayS.diff())
print(last_dayS.pct_change())

                 Open       High  ...  Dividends  Stock Splits
Date                              ...
2019-01-31        NaN        NaN  ...        NaN           NaN
2019-02-28   8.446137   7.887728  ...        0.0           0.0
2019-03-31   5.866598   5.292591  ...        0.0           0.0
2019-04-30  11.421859  12.044514  ...        0.0           0.0
2019-05-31  -4.981408  -5.466454  ...        0.0           0.0
2019-06-30  10.097048   9.745506  ...        0.0           0.0
2019-07-31   5.624666   5.751616  ...        0.0           0.0
2019-08-31  -0.699850  -0.826703  ...        0.0           0.0
2019-09-30  -1.077713   0.039206  ...        0.0           0.0
2019-10-31   6.711296   5.594378  ...        0.0           0.0
2019-11-30   7.561296   7.728519  ...        0.0           0.0
2019-12-31   4.591047   5.377520  ...        0.0           0.0

[12 rows x 7 columns]
                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2019-01-31       NaN       NaN       NaN  ...       NaN        NaN           NaN
2019-02-28  0.083993  0.077381  0.087489  ... -0.477251        NaN           NaN
2019-03-31  0.053820  0.048193  0.046809  ... -0.126671        NaN           NaN
2019-04-30  0.099433  0.104632  0.106276  ... -0.048556        NaN           NaN
2019-05-31 -0.039444 -0.042989 -0.043385  ...  0.102634        NaN           NaN
2019-06-30  0.083233  0.080084  0.079793  ...  0.127452        NaN           NaN
2019-07-31  0.042803  0.043759  0.014419  ...  0.284785        NaN           NaN
2019-08-31 -0.005107 -0.006026  0.012169  ... -0.379771        NaN           NaN
2019-09-30 -0.007905  0.000288  0.011081  ... -0.278161        NaN           NaN
2019-10-31  0.049620  0.041014  0.037814  ...  0.423832        NaN           NaN
2019-11-30  0.053261  0.054428  0.061576  ... -0.513219        NaN           NaN
2019-12-31  0.030704  0.035916  0.034175  ...  0.533685        NaN           NaN

[12 rows x 7 columns]

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [208]:

daily_return = last_day.pct_change()
print(daily_return.fillna(0))

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2018-01-31  0.000000  0.000000  0.000000  ...  0.000000        0.0           0.0
2018-02-28  0.016379  0.007962  0.005987  ... -0.360753        0.0           0.0
2018-03-31 -0.049135 -0.035733 -0.055858  ...  0.471655        0.0           0.0
2018-04-30  0.068197  0.044533  0.053733  ... -0.094705        0.0           0.0
2018-05-31  0.035196  0.041737  0.063204  ... -0.177795        0.0           0.0
2018-06-30 -0.003626 -0.000800 -0.002840  ... -0.178311        0.0           0.0
2018-07-31  0.076418  0.068161  0.071697  ... -0.014187        0.0           0.0
2018-08-31  0.052867  0.060851  0.062338  ... -0.160277        0.0           0.0
2018-09-30  0.022383  0.015872  0.019369  ... -0.067817        0.0           0.0
2018-10-31 -0.076627 -0.056123 -0.072924  ...  1.358780        0.0           0.0
2018-11-30  0.054422  0.030603  0.042152  ... -0.340697        0.0           0.0
2018-12-31 -0.085004 -0.077228 -0.081565  ... -0.014608        0.0           0.0

[12 rows x 7 columns]

In [209]:
daily_returnS = last_dayS.pct_change()
print(daily_returnS.fillna(0))

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2019-01-31  0.000000  0.000000  0.000000  ...  0.000000        0.0           0.0
2019-02-28  0.083993  0.077381  0.087489  ... -0.477251        0.0           0.0
2019-03-31  0.053820  0.048193  0.046809  ... -0.126671        0.0           0.0
2019-04-30  0.099433  0.104632  0.106276  ... -0.048556        0.0           0.0
2019-05-31 -0.039444 -0.042989 -0.043385  ...  0.102634        0.0           0.0
2019-06-30  0.083233  0.080084  0.079793  ...  0.127452        0.0           0.0
2019-07-31  0.042803  0.043759  0.014419  ...  0.284785        0.0           0.0
2019-08-31 -0.005107 -0.006026  0.012169  ... -0.379771        0.0           0.0
2019-09-30 -0.007905  0.000288  0.011081  ... -0.278161        0.0           0.0
2019-10-31  0.049620  0.041014  0.037814  ...  0.423832        0.0           0.0
2019-11-30  0.053261  0.054428  0.061576  ... -0.513219        0.0           0.0
2019-12-31  0.030704  0.035916  0.034175  ...  0.533685        0.0           0.0

[12 rows x 7 columns]

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [210]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2018-01-31  0.016379  0.007962  0.005987  ... -0.360753        NaN           NaN
2018-02-28  0.016379  0.007962  0.005987  ... -0.360753        NaN           NaN
2018-03-31 -0.049135 -0.035733 -0.055858  ...  0.471655        NaN           NaN
2018-04-30  0.068197  0.044533  0.053733  ... -0.094705        NaN           NaN
2018-05-31  0.035196  0.041737  0.063204  ... -0.177795        NaN           NaN
2018-06-30 -0.003626 -0.000800 -0.002840  ... -0.178311        NaN           NaN
2018-07-31  0.076418  0.068161  0.071697  ... -0.014187        NaN           NaN
2018-08-31  0.052867  0.060851  0.062338  ... -0.160277        NaN           NaN
2018-09-30  0.022383  0.015872  0.019369  ... -0.067817        NaN           NaN
2018-10-31 -0.076627 -0.056123 -0.072924  ...  1.358780        NaN           NaN
2018-11-30  0.054422  0.030603  0.042152  ... -0.340697        NaN           NaN
2018-12-31 -0.085004 -0.077228 -0.081565  ... -0.014608        NaN           NaN

[12 rows x 7 columns]

In [211]:
daily_returnS = last_dayS.pct_change()
print(daily_returnS.fillna(method = 'bfill'))

                Open      High       Low  ...    Volume  Dividends  Stock Splits
Date                                      ...
2019-01-31  0.083993  0.077381  0.087489  ... -0.477251        NaN           NaN
2019-02-28  0.083993  0.077381  0.087489  ... -0.477251        NaN           NaN
2019-03-31  0.053820  0.048193  0.046809  ... -0.126671        NaN           NaN
2019-04-30  0.099433  0.104632  0.106276  ... -0.048556        NaN           NaN
2019-05-31 -0.039444 -0.042989 -0.043385  ...  0.102634        NaN           NaN
2019-06-30  0.083233  0.080084  0.079793  ...  0.127452        NaN           NaN
2019-07-31  0.042803  0.043759  0.014419  ...  0.284785        NaN           NaN
2019-08-31 -0.005107 -0.006026  0.012169  ... -0.379771        NaN           NaN
2019-09-30 -0.007905  0.000288  0.011081  ... -0.278161        NaN           NaN
2019-10-31  0.049620  0.041014  0.037814  ...  0.423832        NaN           NaN
2019-11-30  0.053261  0.054428  0.061576  ... -0.513219        NaN           NaN
2019-12-31  0.030704  0.035916  0.034175  ...  0.533685        NaN           NaN

[12 rows x 7 columns]

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [212]:

daily_return = last_day.pct_change()
daily_return.dropna()

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [213]:
daily_returnS = last_dayS.pct_change()
daily_returnS.dropna()

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

# **DataFrame**
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## **Create DataFrames**
The most common method of creating a DataFrame is passing a dictionary:

In [214]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [217]:
dictS = {'SLP': [233.5, 324.09, 172.73, 124.18, 243.77],'AXS':[648.7, 821.71, 926.69, 318.59, 626.99],
        'PVU':[235.58, 553.67, 212.36, 182.94, 163.49]}
data_indexS = pd.date_range('2018-06-03',periods = 5, freq = 'D')
dfS = pd.DataFrame(dictS, index = data_index)
print(dfS)

               SLP     AXS     PVU
2018-06-03  233.50  648.70  235.58
2018-06-04  324.09  821.71  553.67
2018-06-05  172.73  926.69  212.36
2018-06-06  124.18  318.59  182.94
2018-06-07  243.77  626.99  163.49

# **Manipulating DataFrames**
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: df['column_name']

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [229]:
df = data

# **Summary**
Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the Pandas official documentations for help.