#01 **Data Types and Data Structures**
#**Introduction**
This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

#**Basic Variable Types**
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (

In [67]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [68]:
my_string1 = 'Mi nombre es'
my_string2 = "Santiago"
print(my_string1 + ' ' + my_string2)

Mi nombre es Santiago

 An integer is a round number with no values after the decimal point.

In [69]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [70]:
my_int = 19022000
print(my_int)
print(type(my_int))

19022000
<class 'int'>


The built-in function int() can convert a string into an integer.

In [71]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [72]:
my_string = "2200"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [73]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [74]:
y_float = 1.333
print(type(my_float))
my_int = 12
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [75]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [76]:
my_string = "90000.99"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [77]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [78]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [79]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [80]:
print("Addition ", 112+1)
print("Subtraction ", 8-2)
print("Multiplication ", 2*6)
print("Division", 20/2)
print("exponent", 2**6)

Addition  113
Subtraction  6
Multiplication  12
Division 10.0
exponent 64

#**Basic Math Operations**
The basic math operators in python are demonstrated below:

In [81]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [82]:
print(1/6)
print(1.0/6)

0.16666666666666666
0.16666666666666666

#**Data Collections**
##**List**
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [83]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [84]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list)

['Santiago', 'Acosta', 5, 6, 8, 0]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [85]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)
print(my_list[0])
print(my_list[len(my_list) - 1])

['Quant', 'Connect', 1, 2, 3]
Quant
3

In [86]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list)
print(my_list[0])
print(my_list[len(my_list) - 1])

['Santiago', 'Acosta', 5, 6, 8, 0]
Santiago
0

You can also change the elements in the list by accessing an index and assigning a new value.

In [87]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [88]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
my_list[4] = 'ta'
print(my_list)

['Santiago', 'Acosta', 5, 6, 'ta', 0]

A list can also be sliced with a colon:

In [89]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [90]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[1:4])

['Acosta', 5, 6]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [91]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [92]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[1:])

['Acosta', 5, 6, 8, 0]

And all elements up to but excluding index 3:

In [93]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [94]:
my_list = ['Santiago', 'Acosta', 5,6,8,0]
print(my_list[:4])

['Santiago', 'Acosta', 5, 6]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [95]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [96]:
my_list = ['san', 'tia']
my_list.append('go')
print(my_list)
my_list.remove('go')
print(my_list)

['san', 'tia', 'go']
['san', 'tia']

When there are repeated instances of "Hello", the first one is removed.

##**Tuple**
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [97]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [98]:
my_tuple = ('Welcome','to','u nacional')
print(my_tuple[1:])

('to', 'u nacional')

##**Set**
A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [99]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'F', 'GOOG', 'AAPL'}

In [100]:
stock_list = ['A','B','C','A','D','C','E','E']
stock_set = set(stock_list)
print(stock_set)

{'D', 'B', 'C', 'A', 'E'}

Set is an easy way to remove duplicate elements from a list.

##**Dictionary**
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [101]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [102]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
print(my_dic['A'])

B

After defining a dictionary, we can access any value by indicating its key in brackets.

In [103]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [104]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
my_dic['A'] = 'SS'
print(my_dic['A'])

SS

We can also change the value associated with a specified key:

In [105]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [106]:
my_dic = {'A': 'B', 'C': 'D', 'E': 'F'}
print(my_dic.keys())

dict_keys(['A', 'C', 'E'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

##**Common String Operations**
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [107]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [108]:
my_str = 'hola como estas?'
print(my_str[5:])

como estas?

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [109]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [110]:
print("mi nombre es santiago acosta".count('e'))
print('mi nombre es santiago acosta'.find('o'))
print('mi nombre es santiago acosta'.replace('a','e'))

2
4
mi nombre es sentiego ecoste


The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list

In [111]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [112]:
Time = '2021-10-16 11:31:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-16 11:31:00
11

We can replace parts of a string by our variable. This is called string formatting.

In [113]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [114]:
my_time = 'Hour: {}, Minute: {}'.format(11, 31)
print(my_time)

Hour: 11, Minute: 31

Another way to format a string is to use the % symbol.

In [115]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [116]:
print ('3/2 es %f' % 1.5)
print('%s soy %s' % ('hola', 'yo'))

3/2 es 1.500000
hola soy yo

#**Summary**
Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#**02 Logical Operations and Loops**
#**Introduction**
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

#**Logical Operations**
Like most programming languages, Python has comparison operators:

In [117]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [118]:
print (12 == 3)    
print (999 == 999)    
print (4 != 3)    
print (78 >= 78)   
print (4 >= 9)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:



The statement "not P" is true if P is false, and vice versa.

*   The statement "P and Q" is true if both P and Q are true, otherwise it is false.
*   The statement "P or Q" is false if both P and Q are false, otherwise it is true.
*   The statement "not P" is true if P is false, and vice versa.

In [119]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [120]:
print (14 > 1 and 5 > 4)
print (89 > 1 and 8 < 2)
print (65 > 1 or  89 < 2)
print (4 < 1 and 2 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [121]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [122]:
print ((7 > 2 or 1 < 6) and (1!=4 and 6>3) and not ( 12 < 1 or 2 < 12 and (12!=45 and 45>33)))
print (32 > 21 or 16 < 37 and (17!=35 and 46>35) and not ( 34 < 27 or 12 < 33 and (15!=37 and 42>31)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

##**If Statement**
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.


An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......

In [123]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [124]:
i = 7
if i == 7: print ('i == 7 is True')

i == 7 is True

As we mentioned above, we can write some complex statements here:

In [125]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [126]:
p = 0 > 1
q = 3 > 2
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p is false

#**Loop Structure**
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

##**While Loop**
A "while" loop will run repeatedly until a certain condition has been met.

In [127]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [128]:
i = 0
while i < 7:
    print (i)
    i += 1

0
1
2
3
4
5
6

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

##**For Loop**
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [129]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [130]:
for x in [1,2,34,46,5]: print (x)

1
2
34
46
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [131]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [132]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','FB','F']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

##**Break and continue**
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [133]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [134]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'G': break

AAPL
GOOG
IBM
FB
F
V
G

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [135]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [136]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'v': continue
    print (stock)

AAPL
GOOG
IBM
FB
F
V
G
GE

#**List Comprehension**
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [137]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [138]:
cubes = []
for i in [1,2,3,4,5]:
    cubes.append(i**3)
print (cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [139]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [140]:
foo = [1,2,3,4,5]
cubes = [x**3 for x in foo]
print (cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [141]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [142]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','GOOG','FB']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['F', 'V', 'G', 'GE']

 A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [143]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [144]:
print ([(x, y) for x in [1,2,3,6,8,9] for y in [3,1,4,5,6,9,8] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB','H']
                                for y in ['F','V','G','GE','j'] if x != y])

[(1, 3), (1, 4), (1, 5), (1, 6), (1, 9), (1, 8), (2, 3), (2, 1), (2, 4), (2, 5), (2, 6), (2, 9), (2, 8), (3, 1), (3, 4), (3, 5), (3, 6), (3, 9), (3, 8), (6, 3), (6, 1), (6, 4), (6, 5), (6, 9), (6, 8), (8, 3), (8, 1), (8, 4), (8, 5), (8, 6), (8, 9), (9, 3), (9, 1), (9, 4), (9, 5), (9, 6), (9, 8)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'AAPL vs j', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'GOOG vs j', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'IBM vs j', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE', 'FB vs j', 'H vs F', 'H vs V', 'H vs G', 'H vs GE', 'H vs j']

List comprehension is an elegant way to organize one or more for loops when creating a list.

#**Summary**
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

#**03 Functions and Objective-Oriented Programming**
#**Introduction**
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

#**Functions**
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [145]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

In [146]:
def product(x,y):
    return x**y
print (product(2,4))
print (product(5,8))

16
390625

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [147]:
def say_hi():
    print ('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [148]:
def say_burrito():
    print ('burrito burrito')
say_burrito()

burrito burrito

##**Built-in Function**
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [149]:
print (range(0,10))
print (range(1, 11))
print (range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [150]:
print (range(10))
print (range(1, 12))
print (range(1, 14, 2))

range(0, 10)
range(1, 12)
range(1, 14, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [151]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [152]:
tickersS = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE', 'ultimo']
print ("The number of tickers is {}".format(len(tickersS)))
for k in range(len(tickersS)):
    print (k + 1, tickersS[k])

The number of tickers is 9
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE
9 ultimo

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [153]:
x = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print (list(map(len,x)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [154]:
x = ['AAPL','GOOG','IBM','FBDDD','F','VXYS', 'GSS', 'GE']
print (list(map(len,x)))

[4, 4, 3, 5, 1, 4, 3, 2]

The **lambda** operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [155]:
print (list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [156]:
print (list(map(lambda x: x**2, range(14))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

map() can be applied to more than one list. The lists have to have the same length.

In [157]:
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [158]:
list(map(lambda x, y: x+y, [1,2,9,4,5], [5,4,3,6,12]))

[6, 6, 12, 10, 17]

**sorted()** takes a list or set and returns a new sorted list

In [159]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [160]:
sorted([5,2,3,4,1,8,19])

[1, 2, 3, 4, 5, 8, 19]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [161]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [162]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69000000), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71),
 ('MSFT', 69000000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [163]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [164]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('slp', 692), ('AXS', 150000), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('WMT', 75.32),
 ('AAPL', 144.09),
 ('slp', 692),
 ('GOOGL', 911.71),
 ('AXS', 150000)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [165]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [166]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('slp', 692), ('FB', 150), ('AXS', 150000)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('AXS', 150000),
 ('GOOGL', 911.71),
 ('slp', 692),
 ('FB', 150),
 ('AAPL', 144.09)]

#**Object-Oriented Programming**
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

#Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [167]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called init, which is a special method. When we create a new instance of the class, the init method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google"

In [168]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [169]:
apple.ticker 
google.print_return() 
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [170]:
slp  = Stock('SLP', 138.9, 166.09, 9898)
AXS = Stock('AXS', 89767.7, 31132.7, 12356)

In [171]:
slp.ticker 
AXS.print_return() 
AXS.update(912.8,913.4)
AXS.print_return()

-0.6531859455015556
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

.

In [172]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [173]:
slp.ceo ='uby'
slp.ceo

'uby'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [174]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [175]:
dir(slp)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

##**Inheritance**
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [176]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [177]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [178]:
slp = Child('SLP')
print (aa.name)
aa.update(19, 10222)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
19
10222
537.0
None

As seen above, the new class Child has inherited the methods from Stock.

#**Summary**
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

#**04 NumPy and Basic Pandas**
#**Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

#**NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [179]:
import numpy as np

#**Basic NumPy Arrays**
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [180]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [181]:
price_listS = [3234.73, 45.83, 4676.68, 1343.02, 68.5, 2323.62]
price_arrayS = np.array(price_listS)
print (price_arrayS, type(price_arrayS))

[3234.73   45.83 4676.68 1343.02   68.5  2323.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [221]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [183]:
Ars = np.array([[15,8], [5,43], [6,9]])
print (Ars, type(Ars))

[[15  8]
 [ 5 43]
 [ 6  9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [222]:
print (Ar.shape)

(2, 2)

In [185]:
print (Ars.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [186]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [187]:
print (Ars[0])
print (Ars[1])

[15  8]
[ 5 43]

f we want to access the matrix by column instead:

In [223]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [189]:
print ('First column:', Ars[:,0])
print ('Second column:', Ars[:,1])

First column: [15  5  6]
Second column: [ 8 43  9]

##**Array Functions**
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [224]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [191]:
np.log(price_arrayS)

array([8.08170074, 3.8249389 , 8.45034374, 7.20267609, 4.22683375,
       7.75088159])

Other functions return a single value:

In [225]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [193]:
print (np.mean(price_arrayS))
print (np.std(price_arrayS))
print (np.sum(price_arrayS))
print (np.max(price_arrayS))

1948.7300000000002
1671.2883045523095
11692.380000000001
4676.68

The functions above return the mean, standard deviation, total and maximum value of an array.

#**Pandas**
Pandas is one of the most powerful tools for dealing with financial data.

First we need to import Pandas:

In [194]:
import pandas as pd

##**Series**
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [195]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [196]:
priceS = [134.73, 2435.83, 43443.68, 674.02, 12343.5, 7642.62]
sS = pd.Series(priceS)
print (sS)

0      134.73
1     2435.83
2    43443.68
3      674.02
4    12343.50
5     7642.62
dtype: float64

We can customize the indices of a new Series:

In [197]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [198]:
sS = pd.Series(priceS, index = ['G', 'H', 'I', 'J', 'K', 'fL'])
print (sS)

G       134.73
H      2435.83
I     43443.68
J       674.02
K     12343.50
fL     7642.62
dtype: float64


Or we can change the indices of an existing Series:

In [199]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [200]:
sS.index = [1,2,3,4,5,6]
print (sS)

1      134.73
2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
dtype: float64

Series is like a list since it can be sliced by index:

In [201]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [202]:
print (sS[1:])
print (sS[:-2])

2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
dtype: float64
1      134.73
2     2435.83
3    43443.68
4      674.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [203]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [204]:
print (sS[4])
sS[4] = 0
print (sS)

674.02
1      134.73
2     2435.83
3    43443.68
4        0.00
5    12343.50
6     7642.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [205]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [206]:
sS = pd.Series(priceS, name = 'slp Prices')
print (sS)
print (sS.name)

0      134.73
1     2435.83
2    43443.68
3      674.02
4    12343.50
5     7642.62
Name: slp Prices, dtype: float64
slp Prices

We can get the statistical summaries of a Series:

In [207]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [208]:
print (sS.describe())

count        6.000000
mean     11112.396667
std      16514.348486
min        134.730000
25%       1114.472500
50%       5039.225000
75%      11168.280000
max      43443.680000
Name: slp Prices, dtype: float64

##**Time Index**
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [209]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [210]:
time_indexS = pd.date_range('2021-10-16', periods = len(s), freq = 'D')
print (time_indexS)
sS.index = time_indexS
print (sS)

DatetimeIndex(['2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19',
               '2021-10-20', '2021-10-21'],
              dtype='datetime64[ns]', freq='D')
2021-10-16      134.73
2021-10-17     2435.83
2021-10-18    43443.68
2021-10-19      674.02
2021-10-20    12343.50
2021-10-21     7642.62
Freq: D, Name: slp Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [211]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [212]:
sS.index = [1,2,3,4,5,6]
print (sS)
print (sS[1])

1      134.73
2     2435.83
3    43443.68
4      674.02
5    12343.50
6     7642.62
Name: slp Prices, dtype: float64
134.73

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [213]:
print (s.iloc[1])

145.83

In [214]:
print (sS.iloc[1])

2435.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [226]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [216]:
sS.index = time_indexS
print (sS['2021-10-16'])

134.73

We can even access to a range of dates:

In [217]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [218]:
print (sS['2021-10-16':'2021-10-19'])

2021-10-16      134.73
2021-10-17     2435.83
2021-10-18    43443.68
2021-10-19      674.02
Freq: D, Name: slp Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [227]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [220]:
print (sS[sS < np.mean(sS)])
print (sS[(sS > np.mean(sS)) & (sS < np.mean(sS) + 1.64*np.std(sS))])

2021-10-16     134.73
2021-10-17    2435.83
2021-10-19     674.02
2021-10-21    7642.62
Name: slp Prices, dtype: float64
2021-10-20    12343.5
Freq: D, Name: slp Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

#**Summary**
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.